.stateCards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 60px;

  width: 80%;
}
.stateCard-background {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 20px;
  width: 200px;
  border: 0px;
}
.home-paragraph-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.paragraph-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
.red {
  color: #ff073a;
}
.blue {
  color: #007bff;
}
.green {
  color: #28a745;
}
.grey {
  color: #6c757d;
}
.background-color {
  background-color: #331427;
}
.Active {
  background-color: #132240;
}
.Recovered {
  background-color: #182829;
}
.Deceased {
  background-color: #212230;
}
.Confirmed {
  background-color: #331427;
}
