.route-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161625;
}
.loader-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.state-route-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.state-tested-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
.stateRoute-heading {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #0ea5e9;
  background: rgba(2, 132, 199, 0.16);
  border-radius: 32px;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
}
.stateRoute-tested {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #94a3b8;
  text-align: right;
}
.stateRoute-total-tested {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #94a3b8;
  text-align: right;
  margin-top: 0px;
}
.date-align {
  align-self: flex-start;
  margin-left: 70px;
  margin-top: -6px;
}
.stateRoute-date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #cbd5e1;
  margin-top: -5px;
}
.stateRoute-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
