.home-search {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .home-search {
    width: 824px;
    margin-top: 75px;
  }
}
.home-search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 52px;
  background: #2f2f43;
  border-radius: 8px;
  width: 100%;
}
.search-icon {
  color: #94a3b8;
  margin-left: 30px;
}
input:focus {
  outline: none;
}

.search-input {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
  margin-left: 10px;
  background-color: #2f2f43;
  border: 0px;
  width: 100%;
}
.search-container {
  list-style-type: none;
}
.covid-home-container {
  background-color: #161625;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161625;
}

.card-container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .card-container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 75px;
    margin-bottom: 65px;
    width: 100%;
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .card-list {
    width: 0px;
  }
}
.home-paragraph-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}
.paragraph-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 100% */

  text-align: center;
}
@media screen and (min-width: 768px) {
  .paragraph-heading {
    font-size: 24px;
  }
  .home-paragraph-heading {
    font-size: 16px;
  }
}
.red {
  color: #ff073a;
}
.blue {
  color: #007bff;
}
.green {
  color: #28a745;
}
.gray {
  color: #6c757d;
}

.state-table {
  width: 100%;
  background: #1e1e30;
  border: 1px solid #475569;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  align-self: center;
  justify-content: center;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .state-table {
    width: 80%;
  }
}
.state-result-heading {
  border-bottom: 1px solid #475569;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
}
.state-ul-container {
  width: 22%;
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  text-align: center;
}
.other-tables-bar {
  width: 15.6%;
}
.home-table-state-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
}
.general-column-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;

  text-align: center;
}
.icon-button {
  background-color: transparent;
  border: 0px;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}
.order-icon {
  color: #94a3b8;
  background-color: transparent;
}
.state-result-table {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .state-table {
    width: 800px;
    overflow-x: auto;
  }
}
